[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/miconof/oh-my-zsh
[submodule "vimfiles"]
	path = vimfiles
	url = https://github.com/miconof/vimfiles
[submodule "todo.txt"]
	path = todo.txt
	url = git://github.com/ginatrapani/todo.txt-cli.git
